.comment {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 200px;
}
.user-info {
  display: flex;
  align-items: center;
}

.user-img {
  width: 67px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
}

.user {
  margin-left: 20px;
  width: 100%;
}

.user > .name {
  font-weight: 500;
}

.date {
  color: #3e3e3e;
}

.user-text {
  margin-top: 20px;
}

.userInfo {
  display: flex;
  justify-content: space-between;
}

.starScore {
  color: #ffc100;
}
.starNotScore {
  color: #d8d8d8;
}
