.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstSection {
  height: calc(100vh - 64px);
  width: 100%;
  position: relative;
  background-image: url('/public/images/home-page-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 0;
  background-position-y: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 50px;
  padding: 5px 0;
}

.selecterContent {
  display: flex;
  /* gap: 100px; */
}

.item {
  padding: 0px 24px;
  border-right: 1px solid #dddddd;
}

.item:last-child {
  border-right: none;
}

.searchTitles {
  font-size: 16px;
}

.input {
  border: none;
  /* width: 130px; */
}

.iconContainer {
  font-size: 60px;
  display: flex;
  align-items: center;
  color: #ff385c;
}

.secondSection {
  height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f7;
}

.secondSectionTitle {
  margin-bottom: 30px;
  font-size: 40px;
}

.text {
  width: 834px;
  text-align: center;
}

.icons {
  display: flex;
  margin-top: 60px;
}

.secondIconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(1280px / 3);
  border-right: 1px solid #d4d4d2;
  padding: 0 20px 0 20px;
}

.secondIconContainer:last-child {
  border-right: none;
}

.icon {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  color: #446851;
  /* animation: qode-in-out 1s both cubic-bezier(0.45, 0, 0.55, 1); */
}

.stepNumber {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  color: #484848;
}

.stepText {
  font-style: italic;
  font-size: 15px;
  color: #484848;
}

.thirdSection {
  height: calc(100vh - 64px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thirdSectionTitle {
  margin-bottom: 20px;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.dec {
  color: #717171;
}

.blogs {
  width: 1280px;
  height: 60vh;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.aiContainer {
  width: max-content;
  position: fixed;
  bottom: 60px;
  right: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aiContainer:hover .aiTitle {
  color: #ff385c;
  opacity: 1;
}

.aiTitle {
  opacity: 0; /* Başlangıçta görünmez yapın */
  transition: opacity 0.3s ease;
  top: 100px;
}

.ai {
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.2);
  /* border: 2px solid #ff385c; */
  border-radius: 50%;
  z-index: 9;
  /* margin-bottom: 50px;
  margin-top: 50px; */
  cursor: pointer;
  height: 72px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.04s ease-in-out;
}

.ai:hover {
  border: 2px solid #ff385c;
}

.ai img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.viewPageContainer {
  position: relative;
  background: #ebebeb;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2392156863);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 800px;
  height: 800px;
  overflow: hidden;
}

.closeButton {
  /* border: 1px solid black; */
  background-color: #ff385c;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.closeIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.closeButton:hover {
  transition: all 0.3s ease-in-out;
}

.viewContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.viewText {
  font-size: 16px;
}

.tinyContainer {
  width: 600px;
}

.tinyTitle {
  font-size: 32px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

iframe {
  width: 100%;
  height: 500px;
}
